:root {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#popup {
  font-style: normal;
  height: 100%;
  width: 100%;
}

body {
  height: 570px;
  width: 400px;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  color: #0f1111;
  background-color: #ffffff;
}

.popup > header {
  height: 12.8%;
}

main {
  height: 87.2%;
}

h1 {
  font-size: 2.125rem;
  line-height: 1.205882353;
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  color: #333;
}

.primary {
  padding: 1em 1.5em;
  color: #5c5c5c;
  font-weight: 550;
  text-transform: capitalize;
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 0.75rem;
  line-height: 1.2;
  background-color: #fff;
}

.primary:enabled:hover {
  color: #373737;
  border-color: #5c5c5c;
  box-shadow: 0 0 1px #5c5c5c;
}

.primary:disabled {
  opacity: 0.4;
}

.secondary {
  padding: 0 0.5em;
  border: 0;
  background-color: transparent;
  font-size: 0.75rem;
  line-height: 1.2;
  color: #5c5c5c;
  font-weight: 550;
}

.secondary:hover {
  text-decoration: underline;
}
