ul {
  margin: 0 2rem 0 0;
  padding: 0;
  list-style-type: none;
  overflow-y: auto;
  height: 100%;
}

ul.scrollbar-padding {
  margin-right: calc(2rem - 12px);
}

li {
  margin: 0 0 0 2rem;
  /**
     * A calculation to ensure the note width doesn't increase
     * in edge cases where reducing the margin-right of the UL element
     * by the width of the scrollbar ends up giving enough room for
     * the note text to expand into the additional width without
     * overflowing.
     **/
  max-width: calc(100vw - 2 * 2rem);
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(116, 118, 118, 0.5);
}

a {
  max-width: 80%;
  height: 1.083333333em;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

time {
  margin-left: 1.5em;
}

.no-notes-to-show {
  margin: 0 2rem;
  height: 100%;
  width: calc(100% - 4rem);
  background-image: linear-gradient(to bottom, white, blue);
}

.content-container {
  display: flex;
  align-items: center;
}

li + li > .content-container {
  margin-top: -1px;
}

.hidden {
  display: none;
}

.note-controls {
  flex: 0 0 2rem;
  margin: -1px 0;
  background-color: transparent;
  align-self: stretch;
  text-align: center;
}

.note-controls > button.expand-options {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.2em;
  font-weight: 600;
  background-color: transparent;
  color: #70757a;
  border: none;
  cursor: pointer;
}

li > .content-container > article {
  max-width: 100%;
  display: block;
  flex: 1;
}

li:hover > .content-container {
  margin-left: -2rem;
}

li:hover > .content-container > .note-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

li:hover > .content-container > article {
  max-width: calc(100% - 2rem);
}

.note-text {
  font-size: 0.8125rem;
  margin: 0.923076923em 0 0.615384615em;
  word-break: break-word;
}

.line-limit {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.content-container > article > footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.content-container > article > footer * {
  font-size: 0.75rem;
  color: #747676;
  margin-top: 0;
  margin-bottom: 0;
}

ul::-webkit-scrollbar {
  width: 12px;
}

ul::-webkit-scrollbar-track {
  background: transparent;
}

ul::-webkit-scrollbar-thumb {
  background-color: rgba(112, 117, 122, 0.2);
  border-radius: 20px;
  border: 3px solid white;
}
