#notesPanel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#notesPanel > header {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.notes-list-wrapper {
  height: 80%;
}

#notesPanel > footer {
  flex: 2;
  display: grid;
  place-items: center;
}

.query {
  color: #747676;
  width: 100%;
  text-align: center;
  padding: 0.416666667em 0.5em;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom-color: rgba(116, 118, 118, 0.5);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
}

.query + button {
  align-self: flex-end;
  padding: 0.25em;
  color: rgba(116, 118, 118, 0.5);
  font-family: serif;
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  background-color: transparent;
}

.query + button:hover {
  color: #747676;
  font-weight: 600;
}

.query + button:focus-visible {
  color: #747676;
  font-weight: 600;
}

.query:hover {
  border-color: rgba(116, 118, 118, 0.5);
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.08);
}

.query:focus {
  outline: 1px solid #335693;
  border-color: rgba(116, 118, 118, 0.5);
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.08);
}

.query:placeholder-shown {
  caret-color: transparent;
}

::placeholder {
  text-align: center;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
